/* CSS Document */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  background-color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #ffd500;
}

.logo {
  font-size: 30px;
  color: #e3000b;
  text-decoration: none;
  font-weight: 700;
  font-style: italic;
}

nav {
  width: 100%;
  overflow: auto;
}

nav ul {
  list-style: none;
  line-height: 70px;
}

nav ul li {
  float: left;
}

nav ul li a {
  padding: 0px 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  /* min-width: 100px; */
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
}

.nav-item:hover {
  background-color: #6666ff;
  color: #fff;
}

.nav-item.active {
  background-color: orange;
}

#toggle-nav {
  color: #fff;
  text-decoration: none;
  display: none;
}

#social-media {
  float: right;
  margin-right: 100px;
  line-height: 70px;
}

#social-media a {
  max-width: 50px;
  text-align: center;
}

#social-media a i {
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  margin: 5px;
}

#social-media a i:hover {
  background-color: #6666ff;
  color: #fff;
}

/* BREAKPOINTS */
@media (max-width: 800px) {
  nav {
    overflow: hidden;
  }

  #toggle-nav {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0px;
    background-color: #6666ff;
    width: 100%;
    display: block;
  }

  nav ul li a {
    width: 100%;
  }

  nav ul li {
    float: none;
    width: 100%;
    display: none;
  }

  #social-media {
    width: 100%;
    text-align: center;
    border-top: 1px solid #fff;
    float: none;
  }
}

@media (min-width: 850px) {
  nav {
    overflow: auto;
  }

  nav ul li {
    display: block !important;
  }
}
