/* CSS Document */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  background-color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1001;
  background-color: #ffd500;
}

.logo {
  font-size: 30px;
  color: #e3000b;
  text-decoration: none;
  font-weight: 700;
  font-style: italic;
}

nav {
  width: 100%;
  overflow: auto;
}

nav ul {
  list-style: none;
  line-height: 70px;
}

nav ul li {
  float: left;
}

nav ul li a {
  padding: 0px 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  /* min-width: 100px; */
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
}

.nav-item:hover {
  background-color: #6666ff;
  color: #fff;
}

.nav-item.active {
  background-color: orange;
}

#toggle-nav {
  color: #fff;
  text-decoration: none;
  display: none;
}

#social-media {
  float: right;
  margin-right: 100px;
  line-height: 70px;
}

#social-media a {
  max-width: 50px;
  text-align: center;
}

#social-media a i {
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  margin: 5px;
}

#social-media a i:hover {
  background-color: #6666ff;
  color: #fff;
}

main {
  margin-top: 140px;
}

#about {
  display: flex;
  flex-wrap: wrap;
  /* gap: 30px; */
  padding: 0px 30px;
  margin-bottom: 70px;
}

#info-text {
  flex: 1;
  min-width: 300px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

#info-text h2 {
  color: #e60023;
  margin-bottom: 20px;
  font-size: 28px;
}

#info-text h3 {
  margin-bottom: 8px;
}

#info-text p {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.5rem;
}

#info-text a {
  color: #000;
}

#info-text ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

#info-text li {
  margin-bottom: 8px;
}

/* MAP */
#map-container {
  flex: 1;
  min-width: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  /* height: 450px; */
}

#map {
  width: 100%;
  height: 100%;
}

footer {
  background-color: rgb(32, 29, 72);
  color: #fff;
  text-align: left;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
  font-size: 16px;
  line-height: 1.5rem;
}

footer #social-media {
  margin: 0;
  float: none;
}

footer a {
  color: #fff;
}

#banner .logo {
  cursor: default;
}

#copyright-info {
  text-align: right;
}

/* BREAKPOINTS */
@media (max-width: 800px) {
  nav {
    overflow: hidden;
  }

  #toggle-nav {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0px;
    background-color: #6666ff;
    width: 100%;
    display: block;
  }

  nav ul li a {
    width: 100%;
  }

  nav ul li {
    float: none;
    width: 100%;
    display: none;
  }

  #social-media {
    width: 100%;
    text-align: center;
    border-top: 1px solid #fff;
    float: none;
  }

  #about {
    padding: 0 15px;
  }

  #info-text,
  #map-container {
    flex: 100%;
  }

  #map-container {
    order: 2;
    height: 400px;
  }

  #info-text {
    order: 1;
  }

  footer {
    justify-content: left;
  }
}

@media (min-width: 850px) {
  nav {
    overflow: auto;
  }

  nav ul li {
    display: block !important;
  }
}
